/*Global resets*/

* {
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
}

/*Responsive images*/

img {
  width: 100%;
}

/* Custom styles*/

body {
  background-color: #B25900;
  font-family: sans-serif;
  margin: 1% 5%;
}

header, section, h2 {
  margin-bottom: 1%;
}

h2 {
  text-align: center
}

#about p:nth-child(2) {
  margin-bottom: 15px;
}

.left {
  float: left;
}

.right {
  text-align: right;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

header li:not(:first-child):not(:last-child) {
  margin: 0 12px;
}

ul {
  /*clear the float*/
  overflow: auto;
}

.gallery {
  margin-top: 10px;
}

.image {
  width: 25%;
  height: 220px;
  float: left;
  overflow: hidden;
}

.gallery li:last-child img {
  position: relative;
  top: -110px;
}

.contact-content {
  text-align: center;
}

.contact-content * {
  display: inline-block;
  vertical-align: middle;
}

.contact-content p {
  margin-right: 20%;
}
